<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DB:Security" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT_SECURITY;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT_SECURITY" />
    <add key="DB:SCOUT" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT" />
    <add key="DB:Settings" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT_SETTINGS;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT_SETTINGS" />
  </appSettings>
    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>
    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
</configuration>
