<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Connection Strings -->
    <add key="STS_SCOUT" value="data source=STS-SQLSRV;initial catalog=STS_SCOUT;User Id=datacat;Password=catdaddy;Application Name=STS_SCOUT" />
    <add key="STS_SCOUT_SECURITY" value="data source=STS-SQLSRV;initial catalog=STS_SCOUT_SECURITY;User Id=datacat;Password=catdaddy;Application Name=STS_SCOUT_SECURITY" />
    <add key="STS_SCOUT_SETTINGS" value="data source=STS-SQLSRV;initial catalog=STS_SCOUT_SETTINGS;User Id=datacat;Password=catdaddy;Application Name=STS_SCOUT_SETTINGS" />
    <add key="DEV_SCOUT" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT" />
    <add key="DEV_SCOUT_SECURITY" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT_SECURITY;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT_SECURITY" />
    <add key="DEV_SCOUT_SETTINGS" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT_SETTINGS;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT_SETTINGS" />
    <!-- Data Access -->
    <add key="Authentication" value="CSLA" />
    <add key="DB:Security" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT_SECURITY;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT_SECURITY" />
    <add key="DB:SCOUT" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT" />
    <add key="DB:Settings" value="data source=STS-SQLSRV;initial catalog=DEV_SCOUT_SETTINGS;User Id=datacat;Password=catdaddy;Application Name=DEV_SCOUT_SETTINGS" />
    <add key="ASNImportPath" value="\\sts-sqlsrv\OPENROWSET\ASN\" />
    <!-- QUERY NAMES -->
    <add key="PO_SEARCH_RECEIVING" value="srch_PO_SEARCH_RECEIVING" />
    <add key="STOCK_ITEM_SEARCH" value="srch_STOCK_ITEM_SEARCH" />
    <add key="PURCHORDER_SEARCH" value="srch_PURCHORDER_SEARCH" />
    <add key="INVENTORY_SEARCH" value="srch_INVENTORY_SEARCH" />
    <add key="SALESQUOTE_PRODUCTSEARCH" value="srch_SalesQuoteProductSearch" />
    <add key="CUSTOMER_SEARCH" value="srch_CUSTOMER_SEARCH" />
    <add key="SALESQUOTE_SEARCH" value="srch_SALES_QUOTE_SEARCH" />
    <add key="SALESORDER_SEARCH" value="srch_SALES_ORDER_SEARCH" />
    <add key="BINRESERVE_SEARCH" value="srch_BIN_RESERVE_SEARCH" />
    <add key="SOSHIPMENT_SEARCH" value="srch_SO_SHIPMENT_SEARCH" />
    <!-- Reporting -->
    <add key="REPORT_DIR" value="http://sts-sqlsrv/ReportServer?/STS+SCOUT+Reports/" />
    <!--<add key="REPORT_DIR" value="http://sts-sqlsrv/ReportServer?/SCOUT+1.5+Development+Reports/"/>-->
    <!-- Printer Alias -->
    <add key="PRINTER_ALIAS" value="LPT1:" />
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v8.1" publicKeyToken="9B171C9FD64DA1D1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.2.0" newVersion="8.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v8.1" publicKeyToken="9B171C9FD64DA1D1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.2.0" newVersion="8.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
    </system.webServer>
</configuration>
